NODE_ENV=development
PORT=3000

# Database Configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=lendsqr_db

# Authentication
JWT_SECRET=super_secret_default_key_change_me
JWT_EXPIRES_IN=1d

# Paystack (Test Mode)
PAYSTACK_SECRET_KEY=sk_test_your_secret_key
PAYSTACK_PUBLIC_KEY=pk_test_your_public_key
SALT_ROUND=10

# Adjutor
ADJUTOR_API_KEY=your_adjutor_api_key
ADJUTOR_BASE_URL=https://adjutor.lendsqr.com/v2
ADJUTOR_APP_ID=your_adjutor_app_id

# Blacklist behavior
BLACKLIST_MODE=strict